{% extends "base.html" %}

{%if title%}
{%block title%}{{title}} {%endblock%}
{%endif%}

{%block body1%}
{%if title%}
        <h1>{{title}}</h1>
{%endif%} 
<div> hello {%if user.is_authenticated%}<b><u>{{user.username}}</u></b>{%else%} visitor {%endif%}</div>
  <b>It is {% now "jS F Y H:i" %}</b>  
 
    <div>the number of user: {{count}}</div>
{%if user.is_superuser%}
<br>
<br>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
    <div >
        <div>
           <div > 
      
            <div class="mermaid">
            graph TD
    
              J[Setting] --> J1[Official Vacation per year]
              J[Setting] -->J2[working days per Week]
              J[Setting] -->J3[Shifts Times]
              J[Setting] -->J4[over time rate]
              J[Setting] -->J5[Travel allowance rate]
              J[Setting] -->J6[Tax Rate]
              J[Setting] -->J7[Social Insurance rate]
              J[Setting] -->J8[Health Insurance rate]
              J[Setting] -->J9[Single or Multi User]
              J[Setting] -->J10[Department]
              J[Setting] -->J11[Import/export finger print]
              click J1 "NaVaction/"
              click J2 "WorkDay/"
              click J3 "Shifts/"
              click J4 "OverTime/"
              click J5 "TravelAllowance/"
              click J6 "TaxRate/"
              click J7 "SocialInsurance/"
              click J8 "HealthInsurance/"
              click J9 "SingleMultiUser/"
              click J10 "Department/"
              click J11 "import/"
            </div>  
    
        </div>
          </div>
        </div>
        <br>
        <br>


    <div >
  <div>
     <div > 

      <div class="mermaid">
      graph LR
                  
           
          E[fa:fa-people-carry Employee]-->G[Employee List]
          E[fa:fa-people-carry Employee] -->L1[Employee ADD]
          G[Employee List]-->L[Employee Detail]
          L[Employee Detail]-->L2[Employee update]
          L[Employee Detail] -->L3[Employee List]
          L1[Employee ADD] -->L3[Employee List]
          L2[Employee update] --> L3[Employee List]
          E[fa:fa-people-carry Employee] -->F[TimeSheet]
          F[TimeSheet] -->F1[Group TS by day]
          F[TimeSheet] -->F2[single TS by month]
          F2[single TS by month] --> F3[list need for approve TS]
          F1[Group TS by day] --> F3[list need for approve TS]
          E[fa:fa-people-carry Employee] --> H[Vacation Request]
          H[Vacation Request] --> H1[List need for approve vacation]      
          E[fa:fa-people-carry Employee] -->I[Salary]
          I[Salary] -->I1[Salary annual increase]
          I[Salary] -->Y2[Monthly Bounus and Penality]
          I1[Salary annual increase] -->Y4[Employee Salary list]
          Y2[Monthly Bounus and Penality] -->Y4[Employee Salary list]
          I1[Salary annual increase] -->Y5[Employee Salary detail]
          Y2[Monthly Bounus and Penality] -->Y5[Employee Salary detail]
          Y4[Employee Salary list] -->Y5[Employee Salary detail]
          Y2[Monthly Bounus and Penality] -->Y3[list of need to approve B/P]
          

          click E "/"
          click G "/emp/table/"
          click L1 "/emp/emp_add/"
          click L3 "/emp/table/"
          click F1 "GrpTimesheet/"
          click F2 "SglTimesheet/"
          click F3 "NappTsTbl/"
          click H "vacationForm/"
          click H1 "vacationApproveList/"
          click I1 "AnInc/"
          click Y2 "MoBoPe/"
          click Y4 "EmpSalList/"
          click Y5 "EmpSalDet/"
          click Y3 "tblBonus/"
          
          


      </div>  

</div>
  </div>
</div>
{%endif%}

    


<!-- {% load static %}  -->
<script src= "{%static 'chart/mermaid.js'%}"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
<script>mermaid.initialize({theme:'forest'});</script>

{%endblock%}