{% extends "base.html" %}
{%load grp_extras %}

{%block body1%}
<h2>secure page </h2>
{{user}}
 {%if request.user|has_group:"Self Timesheet and Vacation Request"%}
 <p>found in the group</p> 
 {%else%}
 <p style='color:red'>not found in the group</p>
 {%endif%} 
 {%if request.user.is_authenticated%}
 <p> request Authenticated</p>
 {%endif%}
 {%if user.is_authenticated%}
 <p>Authenticated</p>
 {%endif%}
 {%if user.is_active%}
 <p>active</p>
 {%endif%} 
 {%if user.is_superuser%}
 <p>is_superuser</p>
 {%endif%}
{%endblock%}