{% extends "base.html" %}
{%load crispy_forms_tags%}
{%block title%}Login{%endblock%}
{%block body1%}
<h2>Login</h2>
<div class='row justify-content-center'>
    <div class='col-6'>
        <div class='card'>
            <div class='card-body'>
    
                <form method ="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">login</button>
                    <a href={%url 'password_reset'%} class='btn btn-link' >forget your password?</a>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}