{% extends "base.html" %}

{%block body1%}
<h2>password reset completed </h2>
    
    <p style='color:green'> you password reset was done successfully </p>
    <p>you may now <a href="{% url 'login' %}">Login</a> again </p>
{%endblock%}