{% extends "base.html" %}
{%load crispy_forms_tags%}
{%block title%}Password change {%endblock%}
{%block body1%}
<h2>change Password</h2>
<div class='row justify-content-center'>
        <div class='col-6'>
            <div class='card'>
                <div class='card-body'>
    
                    <form method ="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">change Password</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    
{%endblock%}