{% extends "base.html" %}

{%block body1%}
<h2>password reset sent </h2>
    
    <p style='color:green'> We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

       <br> If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
{%endblock%}