{% extends "base.html" %}

{%block body1%}
<h2>set your new password</h2>
    {%if validlink%}
        <form method ="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Reset</button>
        </form>
    {%else%}
        <p style= 'color:red'>Invalid token</p>
        <p>
            <a href={%url 'password_reset'%}>Request a new token?</a>
        </p>
    {%endif%}
{%endblock%}