{% extends "base.html" %}
{%load crispy_forms_tags%}
{%block title%}Password Reset {%endblock%}
{%block body1%}
<h2>reset your password</h2>
<div class='row justify-content-center'>
    <div class='col-6'>
        <div class='card'>
            <div class='card-body'>

                <form method ="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">send confirmation link</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
    
{%endblock%}