{% extends "base.html" %}
{%load crispy_forms_tags%}
{%if title%}
{%block title%}Sign up {%endblock%}
{%endif%}

{%block body1%}
<h2>Sign UP</h2>
<div class='row justify-content-center'>
    <div class='col-6'>
        <div class='card'>
            <div class='card-body'>
    
                <form method ="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Sign UP</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
    
    
{%endblock%}