{% extends "base.html" %}
{%load render_table from django_tables2 %}
{%load crispy_forms_tags%}
{%if title%}
{%block title%}{{title}} {%endblock%}
{%endif%}

{%block body1%}

    {%if title%}
        <h1>{{title}}</h1>
    {%endif%}
    <form method='POST' action='' >
        {% csrf_token %}
        
        {%if table%}
         <div style='display: none'>{{ form.as_p }}</div>   <!-- to get {{ my_formset.management_form }}  it work!!!! -->
        
        {%render_table table %}
        
        <button type="submit" class="btn btn-primary ">Save Changes</button>
        {%elif SingleMultiUser_view%}
        
        <!-- <div class='row justify-content-center'>
            <div class='col-6'>
                <div class='card'>
                    <div class='card-body'>
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary ">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class ='table-container'>
            <table class='table'>
                <thead>
                    <tr>
                       <th>System Kind</th>
                       <th>Single/Multi-User</th>
                            
                    </tr>
                </thead>
                <tbody>
                    {{ form.management_form }}
                    {%for x in form%}
                    <tr>
                        {{x.id}}
                        <td >{{x.Single_Multi_name}}</td>
                        <td ><div class= 'row justify-content-center'>{{x.Single_Multi_choice}}</div></td>
                    </tr>
                    {%endfor%}    
                </tbody>
        </table>
            <button type="submit" class="btn btn-primary ">Save Changes</button>

        </div>
        {%elif Workingday_view%}
        <div class ='table-container'>
                <table class='table'>
                    <thead>
                        <tr>
                           <th>Days of the week</th>
                           <th>Working Days</th>
                                
                        </tr>
                    </thead>
                    <tbody>
                        {{ form.management_form }}
                        {%for x in form%}
                        <tr>
                            {{x.id}}
                            <td >{{x.days}}</td>
                            <td ><div class= 'row justify-content-center'>{{x.workDay}}</div></td>
                        </tr>
                        {%endfor%}    
                    </tbody>
            </table>
                <button type="submit" class="btn btn-primary ">Save Changes</button>
    
            </div>
        {%endif%}
        
        
    </form>
    <br>
    {% if note%}
    <p style='color:red'>{{note}}</p>
    {%endif%}
{%endblock%}
