

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% load static %}
<script src="{% static 'employees/main.js' %}"></script> 
<link rel="stylesheet" type='text/css' href="{% static 'employees/style.css' %}">

<!--select2 header-->
{{ form.media.css }}

<!-- Trigger/Open The Modal -->
<!--<button id="myBtn">Open Modal</button> -->

<!-- The Modal 
<div id="myModal" class="modal">-->

<!-- Modal content 
<div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Modal Header</h2>
    </div>

    <div class="modal-body"> -->
        <form  style='display: flex' id="empByDep" data-emp-url="{% url 'ajax_load_emp' %}" action= '/search/' novalidate>
        <div style='margin: 5px' >{{form.departement}} </div> 
        <div style='margin: 5px'>{{form.employee_list}} </div>
        <button style= 'background-color: dodgerblue;' type='submit'>Emp Detail</button>
        </form>
    <!--</div>
    <div class="modal-footer">
        <h3>Modal Footer</h3>
      </div>
</div>-->

 <!-- Trigger/Open The Modal -->
 <button id="myBtn">Open Modal</button>

 <!-- The Modal -->
 <div id="myModal" class="modal">
 
   <!-- Modal content -->
<div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div> 
 
 </div> 

<!--select2 footer-->
{{ form.media.js }}