{% extends "base.html" %}

{%block body1 %}
<div class='row'>
    <div class =' col-12 col-8  mx=auto'>
        {%if NAUTH %}
            <p class='lead'>{{NAUTH}}</p>
        {%else%}
            {% if query %}
            <div class='container'>     
            <div class ='col-4'>
                    <a href="#" class="list-group-item list-group-item-action active">
                        You -{{user}}- searched for "{{query}}"
                    </a>
                    {%for emp in employ%}
                
                    <a href="/emp/{{emp.id}}/detail" class="list-group-item list-group-item-action">{{emp}}</a>
                    
                    {%endfor%}

                    {%for emp in employ1%}
                
                    <a href="/emp/{{emp.id}}/detail" class="list-group-item list-group-item-action">{{emp}}</a>
                    
                    {%endfor%}
                 </div>
                </div>
            {% else %}
                
            

                <p class='lead'>Please enter a Search </p>  <!--dependent dropdown list-->
                <h6 class="h3"><b>Employees Search</b></h6>
                <hr class="style1">  <!--to draw a line-->
                <form   class= "form-inline my-2 my-lg-0 empByDep" id="empByDep" data-emp-url="{% url 'ajax_load_emp' %}" action= '/search/' novalidate>
                <div class= 'form control mr-sm-2' >{{form.departement}} </div>
                <div class= 'form control mr-sm-2' >{{form.employee_list}} </div>
                <button class='btn btn-outline-success my-2 my-sm-0' type='submit'>Emp Detail</button>
                </form>
                <br>
                <form   class= "form-inline my-2 my-lg-0" action= '/search/' novalidate>
                <div class= 'form control mr-sm-2' >{{form.employee_list_by_Nid}} </div>
                <button class='btn btn-outline-success my-2 my-sm-0' type='submit'>Emp Detail</button>
                </form>
                 <br>   
                <form   class= "form-inline my-2 my-lg-0" action= '/search/' novalidate>
                    <div class= 'form control mr-sm-2' >{{form.employee_list_by_address}} </div>
                    <button class='btn btn-outline-success my-2 my-sm-0' type='submit'>Emp Detail</button>
                    </form>
                    <br><br>
                
                <h6 class="h3"><b>Employees TimeSheet / vacations</b></h6>
                <hr class="style1">  <!--to draw a line-->
                    <form   class= "form-inline my-2 my-lg-0 " action= '/search/' novalidate>
                        
                        <div class= 'form control mr-sm-2' >{{form.employee_list_by_name}} </div> 
                        <div class= 'form control mr-sm-2' >{{form.TSdate}} </div>
                        
                        <button class='btn btn-outline-success my-2 my-sm-0' style='margin: 2px' type='submit' name='Timesheet' value='go Timesheet'>Employee Timesheet</button>
                        <button class='btn btn-outline-success my-2 my-sm-0' style='margin: 2px' type='submit' name='Vacation' value='go Vacation'>Employee Vacation</button>
                    </form> 
                
                

                {%endif%}
        {%endif%}
    </div>
</div>

{%endblock%}