{%extends "base.html"%}
{%load render_table from django_tables2 %}
{%block title %} Grp_timesheets {%endblock%}


{%block body1 %}
<h2 class="font-weight-normal text-center border border-secondary rounded">timesheets_Group-Employee_per/day__sorted by_{{sort_by}}</h2> 
{% csrf_token %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-4 text-left'>
            date of today
        </div>
        <div class='col-4 text-center' id='NowDate'>
            {{nows|date:"D d M Y" }}-{{nows|time:"H:i"}}
        </div>
        <div class='col-4 text-right'>
            تاريخ اليوم 
        </div>
    </div>
</div>
 <br>
<div class='container'>
    <div class='row'>
        
        <div class=' col-4 text-left'>Timesheet date: </div>
        <div class=' col-4 text-center'>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <!--<button class="btn btn-outline-primary" type="button" id="Sr_TS_date">Search</button>-->
                </div>
                <input id='TS_date' name='TS_date' type='date' class="form-control"  aria-label="Example text with button addon" aria-describedby="button-addon1"> <!--value= "{{nows|date:"Y-m-d"}}"-->
            </div>
        </div>
        <div class=' col-4 text-right'>التاريخ </div>
    </div>
</div>

<div class = 'container-fluid'>
    <div class ='row my-auto py-auto'>
            <div class=' col-6 mx-auto'>
                <button type="button" class="btn btn-outline-primary SaSuApTblAllEmp" id='SaveTblAllEmp' disabled>Save</button>
                <button type="button" class="btn btn-outline-secondary SaSuApTblAllEmp" id='SubAppTblAllEmp' disabled>submit/apporve</button>
            </div>
            <div class=' col-3 '>
                    <div class="font-weight-bolder text-center border border-primary rounded ">Time Sheet status:</div>
            </div>
            <div class=' col-3 '>        
                    <div class="font-weight-normal text-center border border-secondary rounded" id='TS_stat'> Unknown </div>
            </div>
    </div>
</div>


{%render_table table %}



{%endblock%}
