{%extends "base.html"%}
{%load render_table from django_tables2 %}
{%block title %} {{title}} {%endblock%}


{%block body1 %}
<h2 class="font-weight-normal text-center border border-secondary rounded">{{title}}</h2> 
{% csrf_token %}
<div style='display:none' id='empID'>{{qs.id}}</div>
{%if NAEmpTs%}
<div class = 'container-fluid'>
    <div class ='row my-auto py-auto'>
            <div class=' col-6 mx-auto'>
                <button type="button" class="btn btn-outline-primary ApTblEmp" id='approve' >Approve</button>
                <button type="button" class="btn btn-outline-secondary ApTblEmp" id='reject' >Reject</button>
            </div>
            <div class=' col-3 '>
                    <div class="font-weight-bolder text-center border border-primary rounded ">Time Sheet status:</div>
            </div>
            <div class=' col-3 '>        
                    <div class="font-weight-normal text-center border border-secondary rounded" id='TS_stat'> Not approved </div>
            </div>
    </div>
</div>
{%endif%}

{%if message%}
<h4>{{message}}</h4>
{%endif%}

{%if table%}
{%render_table table %}
{%endif%}


{%endblock%}
