{%extends "base.html"%}
{%load grp_extras %}

{%block title %} Single_timesheets {%endblock%}


{%block body1 %}

{%if data.error_message%}
<h4 class="font-weight-normal text-center border border-secondary rounded">timesheets_for employee : <b>{{data.Emp_name}}</b>  for Month: <b>{{data.TSDates|date:"F"}}/{{data.TSDates|date:"Y"}}</b> </h4> 
<div style='color:red'>{{data.error_message}}</div>
{%elif data.TSDates%}
<h4 class="font-weight-normal text-center border border-secondary rounded">timesheets_for employee : <b>{{data.Emp_name}}</b>  for Month: <b>{{data.TSDates|date:"F"}}/{{data.TSDates|date:"Y"}}</b> </h4> 
<div id='emp_name' style='display:none'>{{data.Emp_name.id}}</div>
<div id='TSMonth' style='display:none'>{{data.TSMonth}}</div>
<div id='TSYear' style='display:none'>{{data.TSYear}}</div>
{%else%}
<h4 class="font-weight-normal text-center border border-secondary rounded">timesheets_for employees per month </h4> 
{%endif%}
<form   method="post" class="form-inline my-2 my-lg-0" id="empByDep" data-emp-url="{% url 'ajax_load_emp' %}" action= '' >
    {% csrf_token %}
    {%if request.user|has_group:"Self Timesheet and Vacation Request"%}
    <input id="id_employee_list" name= "employee_list"  value = '{{user.id}}' style='display:none' >
    
    {%else%}
    <div class= 'form control mr-sm-2' >{{form.departement}} </div>
    <div class= 'form control mr-sm-2' >{{form.employee_list}} </div>
    {%endif%}
    <div class= 'form control mr-sm-2' >{{form.TSdate}} </div>
    
    <button class='btn btn-outline-success my-2 my-sm-0' id='SrSgTS' type='submit'>Search</button>
  </form>
  
  
<br> <br>
<div class = 'container-fluid'>
    <div class ='row my-auto py-auto'>
            <div class=' col-6 mx-auto'>
                {%if data.TS_status == 'created' or data.TS_status == 'not created yet' %}
                <button type="button" class="btn btn-outline-primary SaSuTblEmp" id='SaveTblEmp' >Save</button>
                <button type="button" class="btn btn-outline-secondary SaSuTblEmp" id='SubTblEmp' >submit</button>
                {%else%}
                <button type="button" class="btn btn-outline-primary SaSuTblEmp" id='SaveTblEmp' disabled>Save</button>
                <button type="button" class="btn btn-outline-secondary SaSuTblEmp" id='SubTblEmp' disabled>submit</button>
                {%endif%}
              </div>
            <div class=' col-6 mx-auto '>
                    <div class="font-weight-normal text-center border border-secondary rounded">Time Sheet status: <b>{{data.TS_status}}</b></div>
            </div> 
            
      </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col"> #</th>
        <th scope="col">day #</th>
        <th scope="col">day Name</th>
        <th scope="col">Working Hour</th>
        <th scope="col">Allowance</th>
        <th scope="col">Overtime</th>
      </tr>
    </thead>
    <tbody>
      
      {% if data.qs != 'None'  %}
        {% for x in data.qs %}
          {% if x.Date|date:"l" in data.weekEnd %}
              <tr style='color:red'>
          {%else%}
              <tr>
          {%endif%}
          
                <th scope="row">{{ x.Date.day }}</th>
                <td> {{ x.Date.day }} </td>
                <td> {{ x.Date|date:"l" }} </td>
                
                <td>
                  {% if x.Date in data.apExVac and x.Date in data.apVac %}
                    <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' disabled >
                      <option value=''></option>
                      <option value='0' id='0' selected>approved Extra vacation</option>
                      <option value='4' id='4'>Half_day</option>
                      <option value='8' id='8' >Full_day</option>
                    </select>
                  {%elif x.Date not in data.apExVac and x.Date in data.apVac %}
                    <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' disabled >
                      <option value=''></option>
                      <option value='0' id='0' >absent</option>
                      <option value='4' id='4'>Half_day</option>
                      <option value='8' id='8' selected >approved vacation</option>
                    </select>
                    {%elif x.Date|date:"l" in data.weekEnd%}
                    <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' disabled >
                      <option value=''></option>
                      <option value='0' id='0' selected >Week End</option>
                      <option value='4' id='4'>Half_day</option>
                      <option value='8' id='8'>Full_day</option>
                    </select>
                    {%elif x.Date in data.NVac%} <!--we put national vacation 0 as working in this day will be overtime-->
                    <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' disabled >
                      <option value=''></option>
                      <option value='0' id='0' selected >National vacation</option>
                      <option value='4' id='4'>Half_day</option>
                      <option value='8' id='8'>Full_day</option>
                    </select>
                  {%else%}
                    <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' {%if data.TS_status == 'submited' or data.TS_status == 'approved' %} disabled {%endif%} >
                      <option value=''></option>
                      <option value='0' id='0' {% if x.working_hour == 0 %}selected{%endif%} >absent</option>
                      <option value='4' id='4' {% if x.working_hour == 4 %}selected{%endif%} >Half_day</option>
                      <option value='8' id='8' {% if x.working_hour == 8 %}selected{%endif%} >Full_day</option>
                    </select>
                  {%endif%}
                </td>
                <td>--</td>
                <td>--</td>
              </tr>
        {%endfor%} 
      {%else%}
        {% for x in month_days %}
          {% if x|date:"l" in data.weekEnd %}
            <tr style='color:red'>
          {%else%}
            <tr>
          {%endif%}
            
              <th scope="row">{{ x.day }}</th>
              <td> {{ x.day }} </td>
              <td> {{ x|date:"l" }} </td>
              
              <td>
                
                  {% if x in data.apExVac and x in data.apVac %}
                    <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' disabled >
                      <option value=''></option>
                      <option value='0' id='0' selected>approved Extra vacation</option>
                      <option value='4' id='4'>Half_day</option>
                      <option value='8' id='8' >Full_day</option>
                    </select>
                  {%elif x not in data.apExVac and x in data.apVac %}
                    <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' disabled >
                      <option value=''></option>
                      <option value='0' id='0' >absent</option>
                      <option value='4' id='4'>Half_day</option>
                      <option value='8' id='8' selected >approved vacation</option>
                    </select>
                  {%elif x|date:"l" in data.weekEnd%}
                  <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' disabled >
                    <option value=''></option>
                    <option value='0' id='0' selected >Week End</option>
                    <option value='4' id='4'>Half_day</option>
                    <option value='8' id='8'>Full_day</option>
                  </select>
                  {%elif x in data.NVac%} <!--we put national vacation 0 as working in this day will be overtime-->
                  <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' disabled >
                    <option value=''></option>
                    <option value='0' id='0' selected >National vacation</option>
                    <option value='4' id='4'>Half_day</option>
                    <option value='8' id='8'>Full_day</option>
                  </select>
                  {%else%}
                    <select maxlenght='10' name='Working_Hour' class="btn btn-outline-primary Working_Hour" data-placeholder='choose one' >
                      <option value=''></option>
                      <option value='0' id='0'>absent</option>
                      <option value='4' id='4'>Half_day</option>
                      <option value='8' id='8'>Full_day</option>
                    </select>
                  {%endif%}
                
              </td>
              <td>--</td>
              <td>--</td>
            </tr>
       {%endfor%}
      {%endif%}




{%endblock%}