{% extends "base.html" %}
{%load crispy_forms_tags%}

{%if title%}
{%block title%}{{title}} {%endblock%}

{%endif%}

{%block body1%}
{%if title%}
<h2>{{title}}</h2>
{%endif%}


    <div class='row justify-content-left'>
      <div class='col-6'>
          <div class='card'>
              <div class='card-body'>
                  <form method="POST" action='' enctype="multipart/form-data">
                      {% csrf_token %}
                      
                      {{form|crispy}}
                      
                     
                  
              </div>
          </div>
      </div>
  </div>
    
<br>
    <button type="submit" class="btn btn-primary">Upload finger print file</button>
    <a href= "/export/" class="btn btn-secondary">export the finger print data</a>
  </form>
  <br>
 
{%endblock%}