.django-select2 {
    width: 150px;
}

.table-container {
    border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #eaf1cd;}

#id_TSdate_day {
    display: none;
}

.asteriskField{  /*this to remove the astrick from requered filed in login form*/
    display:None
}
form .alert ul li{ /*this remove the list style from the alert of the login from */
  list-style:none;
}
form .alert ul {  /*this to remove the padding and margin from the alert of the login form */
    padding:0;
    margin:0;
}