{% extends "base.html" %}
{%load render_table from django_tables2 %}
{%load crispy_forms_tags%}

{%if title%}
{%block title%}{{title}} {%endblock%}

{%endif%}

{%block body1%}
{%if title%}
<h2>{{title}}</h2>
{%endif%}
{%if table%}
    <form method="POST" action='' >
        {% csrf_token %}
        <div class='row justify-content-md-left'>
            <div class='col-5'>
        <strong>This increase will be effective start from:</strong>
            </div>
            <div class='col-3'>
        <input type='date' name= 'StDate' id= 'AIDate' value='{{StDate|date:"Y-m-d"}}' class='form-control' onchange="this.form.submit()">
            </div>
        </div>
    </form>
    <br>
    <div class = 'container-fluid'>
        <div class ='row my-auto py-auto'>
                <div class=' col-6 mx-auto'>
                    <button type="button" class="btn btn-outline-primary SaSuApTblAnInc" id='SaveTblAnInc' {% if stat == 'approved' or stat == 'Unknown'  %} disabled {%endif%} >Save/submit</button>
                    <button type="button" class="btn btn-outline-secondary SaSuApTblAnInc" id='AppTblAnInc'  {% if stat == 'approved' or stat == 'Unknown'  %} disabled {%endif%} >apporve</button>
                </div>
                <div class=' col-3 '>
                        <div class="font-weight-bolder text-center border border-primary rounded "> Sheet status:</div>
                </div>
                <div class=' col-3 '>        
                        <div class="font-weight-normal text-center border border-secondary rounded" id='TS_stat'>{{stat}}</div>
                </div>
        </div>
    </div>
    <br>



    {%render_table table %}
{%endif%}
{%if form%}
<div class='row justify-content-center'>
    <div class='col-6'>
        <div class='card'>
            <div class='card-body'>
                {%if not message%}
                <form method ="POST" >
                    {% csrf_token %}
                    {{ form|crispy }}
                {%endif%}
                    <button type="submit" class="btn btn-primary"{% if message %} disabled> {{message}} {%else%}>Submit{%endif%}</button>
                    {%if message%} <a href='/MoBoPe/' class="btn btn-secondary">New request?</a> {%endif%}
                </form>
            </div>
        </div>
    </div>
</div>
{%endif%} 
{%endblock%}