{% extends "base.html" %}
{%load render_table from django_tables2 %}


{%if title%}
    {%block title%}{{title}} {%endblock%}

{%endif%}

{%block body1%}
    {%if title%}
        <h2>{{title}}</h2>
    {%endif%}
    {%if message%}
        <h4>{{message}}</h4>
    {%endif%}
    
    {%if table%}
        {% csrf_token %}
        {%render_table table %}
       
    {%endif%}

{%endblock%}