{% extends "base.html" %}
{%load grp_extras %}
{%load render_table from django_tables2 %}


{%if title%}
{%block title%}{{title}} {%endblock%}

{%endif%}

{%block body1%}
    {%if title%}
    <h2>{{title}}</h2>
    {%endif%}
    
    {%if table%}
    <br>
    
    <form method="POST" action='' >
        {% csrf_token %}
        <div class='row justify-content-left'>
            <div class='col-5 '>
        <h3 ><strong style='color:red'>{{status}}</strong> </h3>
            </div>
            <div class='col-3'>
        <input type='date' name= 'SalDate' id= 'AIDate' value='{{StDate|date:"Y-m-d"}}' class='form-control' onchange="this.form.submit()">
            </div>
        </div>
    </form>
    <br>
        {%render_table table %}
    
    {%else%}
    
    {%if TblLink == False %}
    <form   method="post" class="form-inline my-2 my-lg-0" id="empByDep" data-emp-url="{% url 'ajax_load_emp' %}" action= '' >
        {% csrf_token %}
        {%if request.user|has_group:"Self Timesheet and Vacation Request"%}
            <input id="id_employee_list" name= "employee_list"  value = '{{user.id}}' style='display:none' >
    
        {%else%}
            <div class= 'form control mr-sm-2' >{{form.departement}} </div>
            <div class= 'form control mr-sm-2' >{{form.employee_list}} </div>
    {%endif%}
        <div class= 'form control mr-sm-2' >{{form.TSdate}} </div>
        
        <button class='btn btn-outline-success my-2 my-sm-0' id='SrSgTS' type='submit'>Search</button>
      </form>
        <br>
    {%endif%}
    {%if error_message%}
    <h3 style='color:red'>{{error_message}}</h3>
    {%endif%}
    <div class='container'>
        <div class='col-10'>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Salary Component</th>
                    <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Employee ID</th>
                    <td>{{employee_id}}</td>
                </tr>
                <tr>
                    <th scope="row">Employee Full name</th>
                    <td>{{employee_fullName}} </td>
                </tr>
                <tr>
                    <th scope="row">Employee Departement</th>
                    <td>{{employee_department}} </td>
                </tr>
                <tr>
                    <th scope="row">Actual Salary</th>
                    <td>{{ActualSalary}}</td>
                </tr>
                <tr>
                    <th scope="row">Total TimeSheet hour</th>
                    <td>{{TotalTimeSheethour}}</td>
                </tr>
                <tr>
                    <th scope="row">This month default working Hour</th>
                    <td>{{ThismonthworkingHour}}</td>
                </tr>     
                <tr>
                    <th scope="row">This Month Bonus/Penalty</th>
                    <td>{{ThisMonthBonus_Penalty}}</td>
                </tr> 
                <tr>
                    <th scope="row">Monthly Taxes</th>
                    <td>{{MonthlyTaxes}}</td>
                </tr>
                <tr>
                    <th scope="row">Social Insurance</th>
                    <td>{{SocialInsurance}}</td>
                </tr>
                
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">This month Salary</th>
                        <th scope="col">{{ThismonthSalary}}</th>
                    </tr>
                </thead>
                </tbody>
            </table>
        </div>
    </div>
    {%endif%}

{%endblock%}