{%load grp_extras %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-4">
  <div class='container-fluid'> 
  <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        {%if user.is_authenticated%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            employees/timeSheet/vacation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            {%if request.user|has_group:"No ACCESS"%}
            {%elif request.user|has_group:"Self Timesheet and Vacation Request" and request.user|has_group:'Approve Timesheet and Vacation for Self Department' %} 
            <a class="dropdown-item" href="/SglTimesheet/">TimeSheet_Single_Employee</a>
            <a class="dropdown-item" href="/vacationForm/">Request for Vacation</a>
            <a class="dropdown-item" href="/NappTsTbl/">List of need to approved TimeSheet</a>
            <a class="dropdown-item" href="/vacationApproveList/">Need to approve Vacation List</a>
            <a class="dropdown-item" href="{%url 'Bonus_Table'%}">Need to approve Bonus list</a>
            <a class="dropdown-item" href="{%url 'EmpSalaryDetail'%}">Employee Salary Detail</a>
            
            {%elif request.user|has_group:"Self Timesheet and Vacation Request" and request.user|has_group:'Group timesheets and Vacation' %} 
            <a class="dropdown-item" href="/GrpTimesheet/">TimeSheet_Grp_Employees</a>
            <a class="dropdown-item" href="/vacationForm/">Request for Vacation</a>
            <a class="dropdown-item" href="{%url 'EmpSalaryDetail'%}">Employee Salary Detail</a>
            
            {%elif request.user|has_group:"Self Timesheet and Vacation Request"%}
            <a class="dropdown-item" href="/SglTimesheet/">TimeSheet_Single_Employee</a>
            <a class="dropdown-item" href="/vacationForm/">Request for Vacation</a>
            <a class="dropdown-item" href="{%url 'EmpSalaryDetail'%}">Employee Salary Detail</a>
              
            {%elif user.is_superuser%}
            <a class="dropdown-item" href="/emp/table/">Employees by Table</a>
            <a class="dropdown-item" href="/emp/list/">Employees by List</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/GrpTimesheet/">TimeSheet_Grp_Employees</a>
            <a class="dropdown-item" href="/SglTimesheet/">TimeSheet_Single_Employee</a>
            <a class="dropdown-item" href="/NappTsTbl/">List of need to approved TimeSheet</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/vacationForm/">Request for Vacation</a>
            <a class="dropdown-item" href="/vacationApproveList/">Need to approve Vacation List</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/AnInc/">Salary Annual Increase</a>
            <a class="dropdown-item" href="/MoBoPe/">Monthly Bonus and penalty</a>
            <a class="dropdown-item" href="{%url 'Bonus_Table'%}">Need to approve Bonus list</a>
            <a class="dropdown-item" href="{%url 'EmpSalaryDetail'%}">Employee Salary Detail</a>
            <a class="dropdown-item" href="{%url 'AllSalaryList' %}">Employee Salary List</a>
            <a class="dropdown-item" href="{%url 'AllSalaryList_MultiTbl' %}">Employee Salary List MultiTbl</a>
            <!-- sub-menu. No official sub-menu in bootstrap -->
              <!-- <a class="nav-link dropdown-toggle" style='padding-left: 25px;' href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Settings
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/NaVaction/">Official Vacation day per year </a>
                <a class="dropdown-item" href="/WorkDay/">Working Days</a>
                <a class="dropdown-item" href="/OverTime/">Over Time</a>
                <a class="dropdown-item" href="/TravelAllowance/">Travel Allowance</a>
                <a class="dropdown-item" href="/TaxRate/">Tax Rate</a>
                <a class="dropdown-item" href="/SocialInsurance/">Social Insurance</a>
                <a class="dropdown-item" href="/HealthInsurance/">Health Insurance</a>
                <a class="dropdown-item" href="/Shifts/">Shifts Times</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
               -->
            <!-- end of sub-menu-->
              {%endif%}
            
          </div>
        </li>
        {%if request.user|has_group:"Self Timesheet and Vacation Request"%}
            {%elif user.is_superuser%} 
        <li class="nav-item dropdown">
                      
            <!-- sub-menu. No official sub-menu in bootstrap -->
             
            <a class="nav-link dropdown-toggle" style='padding-left: 25px;' href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Settings
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="Department/">Depatment</a>
                <a class="dropdown-item" href="/NaVaction/">Official Vacation day per year </a>
                <a class="dropdown-item" href="/WorkDay/">Working Days</a>
                <a class="dropdown-item" href="/Shifts/">Shifts Times</a>
                <a class="dropdown-item" href="/SingleMultiUser/">Single/Multi User</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/OverTime/">Over Time</a>
                <a class="dropdown-item" href="/TravelAllowance/">Travel Allowance</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/TaxRate/">Tax Rate</a>
                <a class="dropdown-item" href="/SocialInsurance/">Social Insurance</a>
                <a class="dropdown-item" href="/HealthInsurance/">Health Insurance</a>
                <a class="dropdown-item" href="/import/">Import/export finger print file</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
              
            <!-- end of sub-menu-->
              
        </li>
          {%endif%}
        <li class="nav-item dropdown">
                      
          
            <a class="nav-link dropdown-toggle" style='padding-left: 25px;' href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href ="{% url 'secure'%}">Secure site</a> 
                <a class="dropdown-item" href ="{% url 'secure2'%}">Secure2(class-base)</a> -->
                <a class="dropdown-item" href ="{% url 'password_change' %}">change password</a>
                <a class="dropdown-item" href ="{% url 'logout' %}">logout</a> 
              
              
            </div>
            
          </li>
        </ul>
        
          <form class="form-inline my-2 my-lg-0" action = "/search" >
            <input class="form-control mr-sm-2 "  type="search" placeholder="" aria-label="Search" name='q' >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        {%else%}
        </ul>
          <form class="form-inline my-2 my-lg-0"  >
            <a href="{% url 'login' %}" class='btn btn-outline-secondary mr-sm-2'>Login</a>
            <a href="{% url 'signup' %}" class= 'btn btn-primary my-2 my-sm-0'>Sign up</a>
          </form>
    {%endif%}
  
    </div>
  </div>
  </nav>
  
 
  
  
  
  
  
