{% extends "base.html" %}
{%load render_table from django_tables2 %}

{%if title%}
{%block title%}{{title}} {%endblock%}
{%endif%}

{%block body1%}
{% csrf_token %}
<div style='display:none' id='empID'>{{qs.id}}</div>
{%if title%}
        <h1>{{title}}</h1>
    {%endif%}
{%if NAVac%}
    
<div class = 'container-fluid'>
    <div class ='row my-auto py-auto'>
            <div class=' col-6 mx-auto'>
                <button type="button" class="btn btn-outline-primary ApTblVac" id='approve' >Approve</button>
                <button type="button" class="btn btn-outline-secondary ApTblVac" id='reject' >Reject</button>
            </div>
            <div class=' col-6 '>
                    <div class="btn btn-outline-primary ">Vacation status:</div>
                    <div class="btn btn-outline-secondary rounded" id='TS_stat'> Need approved </div>
            </div>
    </div>
</div>
<br>
    
{%endif%}
    
{%if table%}
    {%render_table table %}
{%endif%}

{%endblock%}