{% extends "base.html" %}
{%load grp_extras %}

{%if title%}
{%block title%}{{title}} {%endblock%}
{%endif%}

{%block body1%}

    {%if title%}
        <h1>{{title}}</h1>
    {%endif%}
    

   
    <div class= "card-deck">
        <div class= "card">
            <div class='card-body'>
                <p class= 'card-text'>Number remaining days these year = <b id='remDay'>{{RemDay}}</b></p>
            </div>
        </div>
        <div class= "card">
            <div class='card-body'>
                <p class= 'card-text'>Number vacation days requested = <b  id='vacDay'>0</b></p>
            </div>
        </div>
        <div class= "card">
            <div class='card-body'>
                <p class= 'card-text'>Number of remaining vacation days after requested = <b  id='AfReqDay'>0</b></p>
            </div>
        </div>
    </div>
            
    <br>
    <form method="POST" action='' id="empByDep" data-emp-url="{% url 'ajax_load_emp' %}" novalidate>
        {% csrf_token %}
        {%if request.user|has_group:"Self Timesheet and Vacation Request"%}
            <input id="id_employee_list" name= "employee_list"  value = '{{user.id}}' style='display:none' >
            <div class='col-4'>
                {{form.start_date.label_tag}}{{form.start_date}}
                {{form.End_date.label_tag}}{{form.End_date}}
            </div>
        {%else%}       
            <table>
                {{form.as_table}}
            </table>
        {%endif%}
        {%if message %}
            <button type="submit" class="btn btn-primary " disabled >{{message}}</button>
            <a href="/vacationForm/" class="btn btn-primary mx-auto">Add New vaction</a>
            <a href="" class="btn btn-primary mx-auto" >Go to Dashboard</a>
        {%else%}
           <br>
            <button type="submit" class="btn btn-primary "  >Submit</button>
        {%endif%}
    </form>

{%endblock%}