{% extends "base.html" %}
{%load crispy_forms_tags%}
{%if title%}
{%block title%}{{title}} {%endblock%}
{%endif%}

{%block body1%}

    {%if title%}
        <h1>{{title}}</h1>
    {%endif%}
    
    <div class='row justify-content-center'>
            <div class='col-6'>
                <div class='card'>
                    <div class='card-body'>
                        <form method="POST" action='' enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            {%if form2%}
                            {{form2|crispy}}
                            {%endif%}
                            {{form|crispy}}
                            {{form1|crispy}}
                           
                        
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" name='ignor' value='go home'><a href='/emp/list' class="text-white">don't Save & go Employee List</a></button>
        <button type="submit" class="btn btn-primary "  name='home' value='go home'>Save & go Employee List</button>
        <button type="submit" class="btn btn-primary " name='update' value='go to update'>Save & continue edit</button>
        <button type="submit" class="btn btn-primary " name='addNew' value='go addNew'>Save & add new Emlpoyee</button>
                        </form>

{%endblock%}