{% extends "base.html" %}
{%load render_table from django_tables2 %}


{%if title%}
{%block title%}{{title}} {%endblock%}

{%endif%}

{%block body1%}


  {%if detail%}
    
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            {%if not error_message%} 
               <img src="{{object_list1}}" class="img-fluid img-thumbnail"" alt="Emp_image">
            {%else%}
            <img src="" class="card-img" alt="{{error_message}}">
            {%endif%}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                {%if title%}
                <h1>{{title}}</h1>
                {%endif%}
              </h5>
              <p class="card-text">
                <ul>
                    <li>ID = {{object_list.id}}</li>
                    <li>Full Name = {{object_list.Full_name}}</li>
                    <li>Department = {{object_list.Department}}</li>
                   
                    <div id='collapse' style='display:none'>
                      <li>National_id = {{object_list.National_id}}</li>
                      <li>Address = {{object_list.Address}}</li>
                      <li>employment date = {{object_list.Emp_date|date:'D-M-Y'}}</li>
                      <li>Salary = {{object_list.Salary}}</li>
                      <li>Salary_base = {{object_list.Salary_base}}</li>
                    </div>
                </ul> 
                <a href="#collapse" class='nav-toggle'>Read More</a> 
              </p>
            </div>
          </div>
              
            
          </div>
        </div>
        <button type="button" class="btn btn-primary mx-auto"><a href="/emp/list" class="text-white">go to List Employee</a></button>
              <button type="button" class="btn btn-primary mx-auto"><a href="/emp/{{object_list.id}}/edit" class="text-white">Update Employee-{{object_list.Full_name}}</a></button>
              <button type="button" class="btn btn-primary mx-auto"><a href="/emp/emp_add" class="text-white">Add New Employee</a></button>
      
      <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
       <script>
        $(document).ready(function(){
          $(".nav-toggle").click(function(){
            var collapse_content_selector = $(this).attr('href');
            var toggle_switch = $(this);
            $(collapse_content_selector).toggle(function(){
              if ($(this).css('display') == 'none') {
                toggle_switch.html('Read More');
              } else {
                toggle_switch.html('Read Less');
              }
            });
          });
        });
      </script>  -->
        
    {%elif list %}
        <div class='container'>
          <div class='row'>
            <div class='col-4'>
              {%if title%}
              <a href="#" class="list-group-item list-group-item-action active">
                {{title}}
              </a>
              {%endif%}

            {% for emp in object_list %}
              <a href="/emp/{{emp.id}}/detail" class="list-group-item list-group-item-action">{{emp}}</a>
            {%endfor%}
            <!-- {% for emp in object_list1 %}
              <a href="/emp/{{emp.id}}/extend/detail" class="list-group-item list-group-item-action">{{emp.Full_name}}</a>
            {%endfor%} -->
          </div>
        </div>
      </div>
    

    {%elif table %}
        

        <h1>All_Employee_Table!</h1> 
        {%render_table table %}

  {%endif%}
{%endblock%}