<!doctype html>
<html lang="en">
hello world <br><br>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--to load main.js/style.css/chosen-->
{% load static %} <!--to load the static file (.js /.css)-->
<script src="{% static 'employees/main.js' %}"></script> 
<link rel="stylesheet" type='text/css' href="{% static 'employees/style.css' %}">

<!--chosen header-->
<link href="{% static 'chosen/docsupport/style.css'%}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}" />
</head>
<body>

  
{{qs}}
<br>
<br>
        <select data-placeholder="Choose one .." class="chosen-select" style="width:20%" > <!-- you can add multible="true" as attribute to change it to multible choise -->
            <option value="" ></option>
            <option value="AC">A</option>
            <option value="AD">B</option>
            <option value="AM">C</option>
            <option value="AP">D</option>
        </select>


<!--chosen footer-->

<script type="text/javascript" src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
<script type="text/javascript">
      $(document).ready(function () {
       $('.chosen-select').chosen();
         });
   </script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
<div >
  <div>
     <div > 

      <div class="mermaid">
      graph TD
          IN(fa:fa-project-diagram Customer )-->A1(fa:fa-sign-in-alt Login)
          IN(fa:fa-project-diagram Customer )-->A2(fa:fa-registered register)
          A1(fa:fa-sign-in-alt Login)-->|if not|A2(fa:fa-registered register)
          A1(fa:fa-sign-in-alt Login)-->A(fa:fa-industry Industrial Dashboard)
          A2(fa:fa-registered register)-->A(fa:fa-industry Industrial Dashboard)
          A(fa:fa-industry Industrial Dashboard)-->B[fa:fa-barcode Raw Material]
          A(fa:fa-industry Industrial Dashboard)-->C[fa:fa-lightbulb Finish Product]
          A(fa:fa-industry Industrial Dashboard)-->D[fa:fa-theater-masks Customer]
          A(fa:fa-industry Industrial Dashboard)-->E[fa:fa-people-carry Employee]
          
           
          E[fa:fa-people-carry Employee]-->G[Add new Employee]
          G[Add new Employee]-->L[Employee private:Salary/Vacation#]
          E[fa:fa-people-carry Employee]-->I[Update time sheet by day include Bonus and Sanctions]
          E[fa:fa-people-carry Employee]-->J[Update Employee Vacation]
          E[fa:fa-people-carry Employee]-->M[Yearly National Vacation update]
          L[Employee private:Salary/Vacation#]-->K[Salary Report]
          I[Update time sheet by day include Bonus and Sanctions]-->K[Salary Report]
          M[Yearly National Vacation update]-->K[Salary Report]
          E[fa:fa-people-carry Employee]-->F[Report List of Employee]
          E[fa:fa-people-carry Employee]-->H[Report Employee Time sheet ]

          
                 
          click A "/dashboard.php"
          click IN "/index.php"
          click A1 "/login.php"
          click A2 "/register.php"
          
      </div>  

</div>
  </div>
</div>




<!-- {% load static %}  -->
<script src= "{%static 'chart/mermaid.js'%}"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
<script>mermaid.initialize({theme:'forest'});</script>
   </body>
   </html>